*.dll
*.suo
*.xml
*.exe
*.targets
*.cs
*.config
*.txt
*.cache
*.CopyComplete
*.pdb
*.rsp
*.ide-shm
02. SRC/WebApplication4/.vs/WebApplication4/v15/.suo
02. SRC/WebApplication4/WebApplication4/Web.config
02. SRC/WebApplication4/.vs/WebApplication4/v15/.suo
02. SRC/WebApplication4/.vs/WebApplication4/v15/sqlite3/storage.ide
